/* CSS for print */
.error {
    background: #ffecec;
    /*background:#ffecec url('images/error.png') no-repeat 10px 50%;*/
    border:1px solid #f5aca6;
}
.success {
    background: #e9ffd9;
    /*background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;*/
    border:1px solid #a6ca8a;
}
.warning {
    padding: 1em;
    background: #fff8c4;
    /*background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;*/
    border:1px solid #f2c779;
}
.notice {
    background: #e3f7fc;
    /*background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;*/
    border:1px solid #8ed9f6;
}